@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-blue{
    background-color: blue;
}

.text-white{
    color: white;
}

.mb-50{
    margin-bottom: 50px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.w-30{
    width: 30%;
}

.w-60{
    width: 60%;
}

.txt-center{
    text-align: center;
}

.bleu{
    color: blue;
}

.none{
    display: none;
}

.border{
    border: 5px solid aqua;
    width: 100px;
    height: 100px;
}

.remplir{
    background-color: aqua;
}

/* PROFILS UTILISATEUR */

.mt-20{
    margin-top: 20px;
}

.card{
    background-color: blue;
    color: white;
    border-radius: 15px;
    padding: 12px;
    font-family: "Rubik", sans-serif;

}

.gap-12{
    gap: 12px;
}

.gap-32{
    gap: 32px;
}

.border-radius-15{
    border-radius: 15px;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}